[mysqld]
character-set-server=UTF8MB4
skip-character-set-client-handshake
default-storage-engine=INNODB
explicit-defaults-for-timestamp=1

[mysqldump]
default-character-set=UTF8MB4

[mysql]
default-character-set=UTF8MB4

[client]
default-character-set=UTF8MB4 