<!DOCTYPE html>
<html lang="en">

<head>
    <title>Short your url!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Short Your URL!" />
    <meta property="og:image" content="./static/favicon.ico" />
    <meta property="og:description" content="這是一個提供縮網址功能的網站" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
</head>

<body>
    <div id="title" class="p-3 my-3 text-center">
        <h1 class="display-4">Short your url!</h1>
        <p class="">這是一個提供縮網址功能的網站</p>
    </div>
    <div id='form' class="container">
        <div class="my-3 input-group">
            <input type="text" class="form-control" id="url" placeholder='請在這裡輸入你又臭又長的網址唷～' autocomplete="off" />
            <span class="input-group-prepend">
                <input type="submit" class="form-control" value="GO!" onclick="myFunc()" />
            </span>
        </div>
    </div>
</body>

</html>
<script>
    function myFunc() {
        old_element = document.getElementById("url_result");
        if (old_element) {
            old_element.remove();
        }
        let url = document.getElementById('url').value;
        postData("/", {
                url: url
            })
            .then(data => addElement(data));
    }

    function addElement(data) {
        block = document.createElement("div");
        block.id = "url_result";
        if (data.is_success) {
            // create hyperlink element
            let code = document.createElement("a");
            code.href = data.host_name + data.code;
            code.innerText = code.href;
            block.className = "alert alert-success";
            block.appendChild(code);
            // create copy button
            let copy_btn = document.createElement("button")
            copy_btn.type = "button";
            copy_btn.dataset.clipboardText = code.href;
            copy_btn.className = "copyButton btn btn-link"
            copy_btn.innerText = "複製";
            copy_btn.onclick = () => copyEvent(code);
            block.appendChild(copy_btn);
            document.getElementById("form").appendChild(block);
        } else {
            let text = document.createElement("div");
            text.innerText = "這是一個無效的網址";
            block.className = "alert alert-warning";
            block.appendChild(text);
            document.getElementById("form").appendChild(block);
        }
    }

    function copyEvent(element) {
        window.getSelection().selectAllChildren(element);
        document.execCommand("Copy")
        window.getSelection().removeAllRanges();
    }

    function postData(url, data) {
        return fetch(url, {
                body: JSON.stringify(data),
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'POST',
                mode: 'cors',
                redirect: 'follow',
                referrer: 'no-referrer',
            })
            .then(response => response.json())
    }
</script>