<!DOCTYPE html>
<html lang="en">

<head>
    <title>Short your url!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
</head>

<body>
    <div id="title" class="p-3 my-3 text-center">
        <h1 class="display-4">Short your url!</h1>
        <p class="">這是一個提供縮網址功能的網站</p>
    </div>
    <div id='form' class="container">
        <div class="my-3 input-group">
            <input type="text" class="form-control" id="url" placeholder='請在這裡輸入你又臭又長的網址唷～' autocomplete="off" />
            <span class="input-group-prepend">
                <input type="submit" class="form-control" value="GO!" onclick="myFunc()" />
            </span>
        </div>
    </div>
    <script src="{{ url_for('static', path='/main.js') }}"></script>
</body>


</html>